<h1>New Song</h1>
<%= form_for :song, url: songs_path do |f| %>
<label>Name: <%= f.text_field :name %></label><br><br>
<label>Artist ID: <%= f.text_field :artist_id %></label><br><br>
<label>Genre ID: <%= f.text_field :genre_id %></label><br><br>
<%= submit_tag(value="Create Song") %>
<% end %>